.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .5rem;

  fa-icon {
    position: absolute;
    visibility: hidden;
  }
  
  &:hover {
    fa-icon {
      visibility: visible;
      opacity:.5;
      z-index: 2;
    }
    img {
      opacity:.9;
      
    }
  }
}