<nav>
  <div class="nav-item dropdown" [ngClass]="{'open' : dropdownIsOpen}" (click)="toggleDropdown()">
    
    <a class="dropbtn"><i class="fa fa-bars"></i></a>
    <div class="dropdown-content">
      <!-- <div>Login</div> -->
      <div class="dropdown-item" (click)="logout()" *ngIf="user.loggedIn === true">Log out</div>
    </div>
  </div>
  <div class="nav-item title">
    <span>My Random Youtube</span>
  </div>
  <div class="nav-item user">
    <span *ngIf="user.loggedIn === true">Welcome, {{user.name}}</span>
  </div>
</nav>