.nav {
  padding:.5rem;
  .fa {
    color: black;
    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }
}

.center-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}